jamgAssistant.py
__pycache__/
.idea/
output/
image/
audio/
no-bg.png
*.jpg
*.jpg
image/2146979205353207_temp.jpg
*.jpg
facebook_bot.cpython-37.pyc
facebook_bot.py.d853b0ce6512e7459f7714573f11df8b.py
image/2146979205353207_temp.jpg
